.Quiz{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-top: 100px;

    background: linear-gradient(90deg, #2e8147 0%, #84e9a6 100% );
}

.Quiz h1{
    color: #fff;
}

.QuizWrapper{
    width: 600px;
}